/* Base */
@import "base/variables";
@import "base/reset";
@import "base/typography";

/* Components */
@import "components/buttons";
@import "components/navbar";
@import "components/animations";

/* Sections */
@import "sections/hero";
@import "sections/stats";
@import "sections/about";
@import "sections/services";
@import "sections/map";
@import "sections/contact";
@import "sections/footer";
@import "sections/clients";
@import "sections/projects";
