h1,
h2,
h3,
h4,
h5 {
  font-family: $font-primary;
  color: $primary;
}

.page-title-section {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 400px;
  text-align: center;
  color: white;
  margin-top: 70px;
  display: flex;
  align-items: center;

  h1 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 3rem;
    @media screen and (max-width: 600px) {
      font-size: 1.5rem;
    }
  }

  p {
    color: $accent;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.1rem;
    @media screen and (max-width: 600px) {
      font-size: 1rem;
    }
  }
}
