h1,
h2,
h3,
h4,
h5 {
  font-family: $font-primary;
  color: $primary;
}

.page-title-section {
  background: $primary;
  padding: 120px 0 40px;
  text-align: center;
  color: white;
  margin-top: 80px;

  h1 {
    color: #fff;
    margin-bottom: 10px;
  }

  p {
    color: $accent;
    font-weight: 600;
  }
}
